<h1>Pesta침a de Proyectos!</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('imagen1.png') %>" class="card-img-top" alt="Proyecto 1">
        <div class="card-body">
          <h5 class="card-title">Iguana Page</h5>
          <p class="card-text">Un dolor de cabeza la imagen</p>
          <a href="#" class="btn btn-custom">Ver m치s</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('imagen2.png') %>" class="card-img-top" alt="Proyecto 2">
        <div class="card-body">
          <h5 class="card-title">Cuppon</h5>
          <p class="card-text">Me quedo igualito</p>
          <a href="#" class="btn btn-custom">Ver m치s</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="<%= asset_path('imagen3.png') %>" class="card-img-top" alt="Proyecto 3">
        <div class="card-body">
          <h5 class="card-title">Suricata</h5>
          <p class="card-text">Volvera?</p>
          <a href="#" class="btn btn-custom">Ver m치s</a>
        </div>
      </div>
    </div>
  </div>
</div>